@import '../../../frame/less/common.less';
body>div {
    width: @scale * 3840px;
    height: @scale * 1080px;
    background: #051658;
}

.mframe {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mheader {
    margin-top: 65px;
    height: 334px;
    width: 11444px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url('../images/底框_上.png') no-repeat;
    background-size: 100% 100%;
    &-title {
        color: white;
        font-size: 135px;
        line-height: 334px;
        margin-left: 800px;
    }
    &-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: fit-content;
    }
    &-nt {
        width: 3538px;
        height: 259px;
        background: url('../images/蓝色块.png') no-repeat;
        background-size: 100% 100%;
        margin-right: 457px;
        display: flex;
        flex-direction: row;
    }
    &-name {
        width: 1184px;
        height: 259px;
        line-height: 259px;
        font-size: 120px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    &-time {
        color: white;
        font-size: 100px;
        flex-grow: 1;
        height: 259px;
        line-height: 259px;
        text-align: center;
    }
    &-home {
        margin-left: 25px;
        width: 407px;
        height: 255px;
        background: url('../images/buttons/主页.png') no-repeat;
        cursor: pointer;
    }
    &-home:hover {
        background: url('../images/buttons/主页-点击.png') no-repeat;
    }
    &-iQuery {
        margin-left: 25px;
        width: 407px;
        height: 255px;
        background: url('../images/buttons/智能查询.png') no-repeat;
        cursor: pointer;
    }
    &-iQuery:hover {
        background: url('../images/buttons/智能查询-点击.png') no-repeat;
    }
    &-iCount {
        margin-left: 25px;
        width: 407px;
        height: 255px;
        background: url('../images/buttons/智能统计.png') no-repeat;
        cursor: pointer;
    }
    &-iCount:hover {
        background: url('../images/buttons/智能统计-点击.png') no-repeat;
    }
    &-iCommand {
        margin-left: 25px;
        width: 407px;
        height: 255px;
        background: url('../images/buttons/智能指挥.png') no-repeat;
        cursor: pointer;
    }
    &-iCommand:hover {
        background: url('../images/buttons/智能指挥-点击.png') no-repeat;
    }
    &-warning {
        margin-left: 25px;
        width: 407px;
        height: 255px;
        background: url('../images/buttons/报警信息.png') no-repeat;
        cursor: pointer;
    }
    &-warning:hover {
        background: url('../images/buttons/报警信息-点击.png') no-repeat;
    }
}

.mbody {
    width: 11444px;
    flex-grow: 1;
    position: relative;
    background: url('../images/底框_中.png') repeat-y;
    border-bottom: 3px solid #0682ec;
    display: flex;
    flex-direction: column;
    &-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 35px;
        >div {
            flex-grow: 1;
        }
    }
}

.mfooter {
    width: 11444px;
    height: 40px;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.homeLeft {
    width: 67%;
    background: url('../images/底纹.png') no-repeat center;
    background-size: 100% 100%;
    border: 2px solid #0682ce;
    display: flex;
    flex-direction: row;
    >div {
        background: url('../images/地图.png') no-repeat center;
        background-size: 99% 99%;
        margin: 20px;
        border: 5px solid rgba(6, 130, 206, 0.5);
        flex-grow: 1;
    }
}

.homeRight {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.portType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.greenPort {
    width: 51px;
    height: 51px;
    background: url('../images/国外港口分布.png');
    cursor: pointer;
}

.greenPort:hover {
    transform: scaleX(1.5) scaleY(1.5);
}

.yellowPort {
    width: 51px;
    height: 51px;
    background: url('../images/国内港口分布.png');
    cursor: pointer;
}

.yellowPort:hover {
    transform: scaleX(1.5) scaleY(1.5);
}

.silkRedPoint {
    width: 38px;
    height: 38px;
    background: url('../images/红白.png');
    cursor: pointer;
}

.silkRedPoint:hover {
    transform: scaleX(1.5) scaleY(1.5);
}

.silkYellowPoint {
    width: 38px;
    height: 38px;
    background: url('../images/黄白.png');
    cursor: pointer;
}

.silkYellowPoint:hover {
    transform: scaleX(1.5) scaleY(1.5);
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &-top {
        width: 100%;
        background: url('../images/时间轴.png') no-repeat bottom;
        background-size: 100% 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 50px;
        padding-bottom: 11px;
        margin-bottom: 9px;
        &-msg {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-year {}
        &-event {}
        &-time {
            width: 27px;
            height: 26px;
            background: url('../images/时间点.png') no-repeat;
            margin-top: 20px;
        }
    }
    &-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        &-msg {
            width: 992px;
            height: 616px;
            color: white;
            font-size: 50px;
            margin-right: 25px;
            overflow: auto;
            background: url('../images/tip文字底框.png') no-repeat;
            background-size: 100% 100%;
            padding: 0 10px;
            text-indent: 2em;
        }
    }
}

.homeRightE {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    >div {
        flex-grow: 1;
    }
}

.homeRightP {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    &-l {
        display: flex;
        flex-direction: column;
        &-bottom {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding-top: 25px;
        }
    }
    &-r {
        flex-grow: 1;
        padding-left: 35px;
        display: flex;
        flex-direction: column;
        &-bottom {
            flex-grow: 1;
            padding-top: 35px;
            display: flex;
            flex-direction: column;
        }
    }
}

.introduce {
    display: flex;
    flex-direction: column;
    &-title {
        height: 184px;
        background: url('../images/蛇口海关标题bg.png') no-repeat;
        background-size: 100% 100%;
    }
    &-msg {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        height: 1145px;
    }
    &-iv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
    }
    &-image {
        width: 786px;
        height: 515px;
        background: url('../images/图片.png') no-repeat;
        background-size: 100% 100%;
    }
    &-video {
        width: 786px;
        height: 610px;
        background: url('../images/视频.png') no-repeat;
        background-size: 100% 100%;
    }
    &-Playvideo {
        width: 124px;
        height: 124px;
        background: url('../images/视频图标.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: 242px;
        left: 331px;
        cursor: pointer;
    }
}

.honor {
    display: flex;
    flex-direction: column;
    &-title {
        width: 804px;
        height: 174px;
        background: url('../images/标题框.png') no-repeat;
        background-size: 100% 100%;
        line-height: 174px;
        text-align: center;
        color: white;
        font-size: 80px;
    }
    &-body {
        padding-top: 25px;
    }
}

.oneHonor {
    color: white;
    font-size: 40px;
    width: fit-content;
    &-img {
        width: 673px;
        height: 474px;
    }
}

.case {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &-title {
        width: 804px;
        height: 174px;
        background: url('../images/标题框.png') no-repeat;
        background-size: 100% 100%;
        line-height: 174px;
        text-align: center;
        color: white;
        font-size: 80px;
    }
    &-body {
        padding-top: 25px;
        width: 1407px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.oneCase {
    &-title {
        color: white;
        font-size: 55px;
    }
    &-msg {
        color: white;
        font-size: 45px;
        text-indent: 2em;
    }
}


/**港口样式*/

.map-view {
    .xfull();
}
/***************************************************************
**********************第二层页面开始*****************************
***************************************************************/
.portMap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.portleft{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 67%;
    > div:first-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border: 5px solid rgba(6, 130, 206, 0.5);
        padding: 20px;

        > iframe {
            border: 2px solid #0682ce;
            flex-grow: 1;
        }
    }
}

.portRight{
    display: flex;
    flex-direction: column;
    width: 33%;
    background: url('../images/port/第二层右侧.png') no-repeat;
    background-size: 100% 100%;

    &-1 {
        position: absolute;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
    &-2 {
        position: absolute;
        right: 2029px;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
    &-3 {
        position: absolute;
        right: 1000px;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
    &-4 {
        position: absolute;
        right: 100px;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
}

/***************************************************************
*************************第二层页面结束**************************
***************************************************************/

/*------------------------------------------------------------*/


/***************************************************************
**********************第二层页面替补框开始************************
***************************************************************/

.Msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &-title{
        background: url('../images/port/底框_下.png') no-repeat;
        background-size: 100%,100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 50px;
        padding-bottom: 11px;
        margin-bottom: 9px;

    }
    &-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color : white;

        &-flex{
            border: 1px solid #0682ec;
            font-size: 80px;
            padding: 10px 20px 10px 30px;
            margin: 0 15px;
            &-InShip{
                display: flex;
                flex-direction: row;
                 > span{
                    width: 160px;
                 }
            }
            &-InBigShip{
                display: flex;
                flex-direction: row;
                > span{
                    width: 160px;
                };
                
                &-val{
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;
                    > span{
                        border: 5px solid #233A52;
                        text-align: center;
                        width: 240px;
                        height: 90px;
                        font-family: "DS-DIGIB_0" !important;
                        font-style: normal;
                        -webkit-font-smoothing: antialiased;
                        -webkit-text-stroke-width: 0.2px;
                        margin-top: 10px;
                        line-height: 90px;
                        background: #010007;
                    };
                }
            }
        }
    }
}

.Pie{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 13px;
}

.homeRightE {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    > div {
        flex-grow: 1;
    }
}

/***************************************************************
**********************第二层页面替补框结束************************
***************************************************************/

/*------------------------------------------------------------*/

/***************************************************************
*************************第三层页面开始**************************
***************************************************************/

.pierMap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pierleft{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 67%;
    > div:first-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border: 5px solid rgba(6, 130, 206, 0.5);
        padding: 20px;

        > iframe {
            border: 2px solid #0682ce;
            flex-grow: 1;
        }
    }
}

.pierRight{
    display: flex;
    flex-direction: column;
    width: 33%;
    background: url('../images/port/第三层右侧.png') no-repeat;
    background-size: 100% 100%;

    &-1 {
        position: absolute;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
    &-2 {
        position: absolute;
        right: 2029px;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
    &-3 {
        position: absolute;
        right: 1000px;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
    &-4 {
        position: absolute;
        right: 100px;
        bottom: 50px;
        width: 800px;
        height: 100Px;
        cursor: pointer;
    }
}

/***************************************************************
*************************第三层页面结束**************************
***************************************************************/

/*------------------------------------------------------------*/

/***************************************************************
*************************第四层页面开始**************************
***************************************************************/

.house{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.houseleft{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 67%;
        &-map {
            background: url('../images/port/仓库地图.png') no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
        }
    }

.houseright{
        display: flex;
        flex-direction: column;
        width: 32%;
        background: url('../images/port/第四层右侧.png') no-repeat;
        background-size: 100% 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border: 5px solid rgba(6, 130, 206, 0.5);
        padding: 20px;
        margin-left: 30px;
        &-1 {
            position: absolute;
            bottom: 50px;
            width: 800px;
            height: 100Px;
            cursor: pointer;
        }
        &-2 {
            position: absolute;
            right: 2029px;
            bottom: 50px;
            width: 800px;
            height: 100Px;
            cursor: pointer;
        }
        &-3 {
            position: absolute;
            right: 1000px;
            bottom: 50px;
            width: 800px;
            height: 100Px;
            cursor: pointer;
        }
        &-4 {
            position: absolute;
            right: 100px;
            bottom: 50px;
            width: 800px;
            height: 100Px;
            cursor: pointer;
        }
    }


/***************************************************************
*************************第四层页面结束**************************
***************************************************************/


.number(@number, @wd, @ht, @mlr) {
    .number-@{number} {
        width: @wd;
        height: @ht;
        margin: 0 (@mlr * @scale);
        @url: '../images/port/@{number}.png';
        background: url(@url) no-repeat;
        background-size: 100% 103%;
    }
}

.numberLoop(@number, @i: 0) when (@i =< @number) {
    .number(@i, 122px, 195px, 3px);
    .numberLoop(@number, (@i + 1));  
}

.number-view{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.numberLoop(9);

.number(break, 25px, 36px, 0px);

.number(point, 25px, 25px, 0px);

.test {
    &-tip {
        width: 1421px;
        height: 611px;
        background: url('../../../res/mapIcon/tip.png') no-repeat;
        background-size: 100% 100%;
    }
    &-sxt {
        position: relative;
        width: 70px;
        height: 86px;
        background: url('../../../res/mapIcon/摄像头.png') no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
    }
    &-sxt:hover {
        transform: scale(1.5);
    }
}