html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body > div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
* {
  font-family: '微软雅黑';
}
@font-face {
  font-family: 'DS-DIGIB_0';
  src: url('DS-DIGIB_0.eot');
  /* IE9*/
  src: url('DS-DIGIB_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('DS-DIGIB_0.woff') format('woff'), /* chrome、firefox */ url('DS-DIGIB_0.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('DS-DIGIB_0.svg#DS-DIGIB_0') format('svg');
  /* iOS 4.1- */
}
body > div {
  width: 11520px;
  height: 3240px;
  background: #051658;
}
.mframe {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mheader {
  margin-top: 65px;
  height: 334px;
  width: 11444px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url('../images/底框_上.png') no-repeat;
  background-size: 100% 100%;
}
.mheader-title {
  color: white;
  font-size: 135px;
  line-height: 334px;
  margin-left: 800px;
}
.mheader-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: fit-content;
}
.mheader-nt {
  width: 3538px;
  height: 259px;
  background: url('../images/蓝色块.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 457px;
  display: flex;
  flex-direction: row;
}
.mheader-name {
  width: 1184px;
  height: 259px;
  line-height: 259px;
  font-size: 120px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.mheader-time {
  color: white;
  font-size: 100px;
  flex-grow: 1;
  height: 259px;
  line-height: 259px;
  text-align: center;
}
.mheader-home {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/主页.png') no-repeat;
  cursor: pointer;
}
.mheader-home:hover {
  background: url('../images/buttons/主页-点击.png') no-repeat;
}
.mheader-iQuery {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能查询.png') no-repeat;
  cursor: pointer;
}
.mheader-iQuery:hover {
  background: url('../images/buttons/智能查询-点击.png') no-repeat;
}
.mheader-iCount {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能统计.png') no-repeat;
  cursor: pointer;
}
.mheader-iCount:hover {
  background: url('../images/buttons/智能统计-点击.png') no-repeat;
}
.mheader-iCommand {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能指挥.png') no-repeat;
  cursor: pointer;
}
.mheader-iCommand:hover {
  background: url('../images/buttons/智能指挥-点击.png') no-repeat;
}
.mheader-warning {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能预警.png') no-repeat;
  cursor: pointer;
}
.mheader-warning:hover {
  background: url('../images/buttons/智能预警-点击.png') no-repeat;
}
.mheader-link {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能链接.png') no-repeat;
  cursor: pointer;
}
.mheader-link:hover {
  background: url('../images/buttons/智能链接-点击.png') no-repeat;
}
.mheader-back {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/返回.png') no-repeat;
  cursor: pointer;
}
.mheader-back:hover {
  background: url('../images/buttons/返回-点击.png') no-repeat;
}
.mbody {
  width: 11444px;
  flex-grow: 1;
  position: relative;
  background: url('../images/底框_中.png') repeat-y;
  border-bottom: 3px solid #0682ec;
  display: flex;
  flex-direction: column;
}
.mbody-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 35px;
}
.mbody-content > div {
  flex-grow: 1;
}
.mfooter {
  width: 11444px;
  height: 40px;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.homeLeft {
  width: 67%;
  background: url('../images/底纹.png') no-repeat center;
  background-size: 100% 100%;
  border: 2px solid #0682ce;
  display: flex;
  flex-direction: row;
}
.homeLeft > div:nth-of-type(1) {
  background-size: 99% 99%;
  margin: 20px;
  border: 5px solid rgba(6, 130, 206, 0.5);
  flex-grow: 1;
}
.homeRight {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.portType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.greenPort {
  width: 51px;
  height: 51px;
  background: url('../images/国外港口分布.png');
  cursor: pointer;
}
.greenPort:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.yellowPort {
  width: 51px;
  height: 51px;
  background: url('../images/国内港口分布.png');
  cursor: pointer;
}
.yellowPort:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.silkRedPoint {
  width: 38px;
  height: 38px;
  background: url('../images/红白.png');
  cursor: pointer;
}
.silkRedPoint:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.silkYellowPoint {
  width: 38px;
  height: 38px;
  background: url('../images/黄白.png');
  cursor: pointer;
}
.silkYellowPoint:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.desc-t {
  color: white;
  text-align: center;
  font-size: 70px;
  line-height: 143px;
  width: 98%;
  height: 143px;
  background: url('../images/光线.png') no-repeat;
  background-size: 100% 100%;
}
.desc-top {
  width: 98%;
  background: url('../images/时间轴.png') no-repeat bottom;
  background-size: 100% 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 50px;
  padding-bottom: 11px;
  margin-bottom: 9px;
}
.desc-top-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-top-time {
  width: 27px;
  height: 26px;
  background: url('../images/时间点.png') no-repeat;
  margin-top: 20px;
}
.desc-bottom {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.desc-bottom-msg {
  width: 1100px;
  height: 616px;
  color: white;
  font-size: 50px;
  margin-right: 25px;
  overflow: auto;
  background: url('../images/tip文字底框.png') no-repeat;
  background-size: 100% 100%;
  padding: 0 10px;
  text-indent: 2em;
  line-height: 80px;
}
@keyframes showAnimete_1 {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes showAnimete_2 {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.showAnimete_1 {
  animation: showAnimete_1 0.5s ease;
  transform-origin: top center;
}
.showAnimete_2 {
  animation: showAnimete_2 0.5s ease;
  transform-origin: top center;
}
.rightP {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: fit-content;
}
.rightP-t {
  width: 100%;
  height: 37px;
  background: url('../images/上.png') no-repeat;
  background-size: 100% 100%;
}
.rightP-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background: url('../images/中.png') no-repeat;
  background-size: 100% 100%;
}
.rightP-b {
  width: 100%;
  height: 41px;
  background: url('../images/下.png') no-repeat;
  background-size: 100% 100%;
}
.rightP-sq {
  width: 120px;
  height: 120px;
  background: url('../images/buttons/收起.png') no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.rightP-zk {
  width: 120px;
  height: 120px;
  background: url('../images/buttons/展开.png') no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.warningTip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: fit-content;
}
.warningTip-t {
  margin-right: 7px;
  width: 238px;
  height: 119px;
  background: url('../images/尖角.png') no-repeat;
  background-size: 100% 100%;
}
.warningTip-b {
  width: 2466px;
  height: 1168px;
  background: url('../images/底框.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.warningTip-b-title {
  display: flex;
  flex-direction: row;
  height: 112px;
}
.warningTip-b-title-1 {
  flex-grow: 1;
  background: #002E73;
  font-size: 60px;
  color: white;
  text-align: center;
  line-height: 110px;
  cursor: pointer;
  border: 1px solid #1890ff;
}
.warningTip-b-title-1:hover {
  background: #0A81E7;
}
.warningTip-b-title-2 {
  flex-grow: 1;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 110px;
  cursor: pointer;
  border: 1px solid #1890ff;
}
.warningTip-b-title-2:hover {
  background: #0A81E7;
  color: #ffffff;
}
.homeRightE {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.homeRightE > div {
  flex-grow: 1;
}
.homeRightP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.homeRightP-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.homeRightP-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.introduce {
  display: flex;
  flex-direction: column;
}
.introduce-title {
  height: 155px;
  background: url('../images/大尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.introduce-msg {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  height: 1145px;
}
.introduce-iv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}
.introduce-image {
  width: 786px;
  height: 515px;
  background: url('../images/01.png') no-repeat;
  background-size: 100% 100%;
}
.introduce-video {
  width: 786px;
  height: 610px;
  background: url('../images/视频.png') no-repeat;
  background-size: 100% 100%;
}
.introduce-Playvideo {
  width: 124px;
  height: 124px;
  background: url('../images/视频图标.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 242px;
  left: 331px;
  cursor: pointer;
}
.honor {
  display: flex;
  flex-direction: column;
}
.honor-title {
  width: 1406px;
  height: 155px;
  background: url('../images/小尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.honor-body {
  padding-top: 25px;
}
.oneHonor {
  color: white;
  font-size: 40px;
  width: fit-content;
}
.oneHonor-img {
  width: 673px;
  height: 430px;
}
.echart-title {
  height: 155px;
  background: url('../images/大尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.case {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.case-title {
  width: 1406px;
  height: 155px;
  background: url('../images/小尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.case-body {
  padding-top: 25px;
  width: 1407px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oneCase-title {
  color: #5caeff;
  font-size: 55px;
}
.oneCase-msg {
  color: white;
  font-size: 45px;
  text-indent: 2em;
  height: 350px;
  overflow: auto;
}
.iWarning-yj {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.iWarning-G1 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G1.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G1:hover {
  border: 2px solid red;
}
.iWarning-G2 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G2.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G2:hover {
  border: 2px solid red;
}
.iWarning-G3 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G3.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G3:hover {
  border: 2px solid red;
}
.iWarning-G4 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G4.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G4:hover {
  border: 2px solid red;
}
.iWarning-G5 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G5.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G5:hover {
  border: 2px solid red;
}
.iWarning-G6 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G6.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G6:hover {
  border: 2px solid red;
}
.iWarning-G7 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G7.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G7:hover {
  border: 2px solid red;
}
.iWarning-G8 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G8.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G8:hover {
  border: 2px solid red;
}
.iWarning-G9 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G9.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G9:hover {
  border: 2px solid red;
}
.iWarning-G10 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G10.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G10:hover {
  border: 2px solid red;
}
.iWarning-G11 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G11.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G11:hover {
  border: 2px solid red;
}
.iWarning-G12 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G12.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G12:hover {
  border: 2px solid red;
}
.iWarning-G13 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G13.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G13:hover {
  border: 2px solid red;
}
.iWarning-G14 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G14.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G14:hover {
  border: 2px solid red;
}
.iWarning-G15 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G15.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G15:hover {
  border: 2px solid red;
}
.iWarning-G16 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G16.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G16:hover {
  border: 2px solid red;
}
.iWarning-G17 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G17.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G17:hover {
  border: 2px solid red;
}
.iWarning-G18 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G18.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G18:hover {
  border: 2px solid red;
}
.link-cl {
  color: #1890ff;
}
.link-cl:hover {
  color: white;
}
.link-qx {
  color: #1890ff;
}
.link-qx:hover {
  color: white;
}
/**港口样式*/
.map-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/***************************************************************
**********************第二层页面开始*****************************
***************************************************************/
/** 左侧  */
.portMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.portleft {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 67%;
}
.portleft > div:first-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(6, 130, 206, 0.5);
  padding: 20px;
}
.portleft > div:first-child > iframe {
  border: 2px solid #0682ce;
  flex-grow: 1;
}
.mapbtn {
  position: absolute;
  top: 100px;
  right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}
.mapbtn-btn1 {
  width: 100px;
  height: 60px;
  background: #CF433F;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn1:hover {
  background: #E34945;
}
.mapbtn-btn2 {
  width: 100px;
  height: 60px;
  background: #61A0A8;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn2:hover {
  background: #79B8C0;
}
.mapbtn-btn3 {
  width: 100px;
  height: 60px;
  background: #0682ce;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn3:hover {
  background: #04466f;
}
.mapbtn-btn4 {
  width: 100px;
  height: 60px;
  background: #D48265;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn4:hover {
  background: #E17954;
}
.mapbtn-noSelected {
  width: 100px;
  height: 60px;
  background: #C0C0C0;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
/** 左侧结束 */
.portRight {
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 1px solid #0682ec;
}
.portRight-1 {
  position: absolute;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.portRight-2 {
  position: absolute;
  right: 2029px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.portRight-3 {
  position: absolute;
  right: 1000px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.portRight-4 {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
/** 右侧 上 */
.Top {
  display: flex;
  flex-direction: row;
  height: 728px;
  width: 3740px;
}
.Top-left {
  border: 1px solid #0682ec;
  width: 70%;
  margin: 40px;
  display: flex;
  flex-direction: row;
}
.Top-left-span {
  height: 100%;
  width: 170px;
  color: white;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px 150px 0px 80px;
  padding: 100px 0px 0px 0px;
  font-size: 70px;
  line-height: 116px;
  background: url('../images/port/标题组件.png') no-repeat;
  background-size: 100% 100%;
}
.Top-left-Num {
  display: flex;
  flex-direction: column;
  width: 2060px;
}
.Top-left-Num-top {
  background: url('../images/port/数据bg框.png') no-repeat;
  background-size: 100% 100%;
  height: 50%;
  margin: 35px 35px 17px 0px;
  width: 98%;
}
.Top-left-Num-bot {
  display: flex;
  flex-direction: row;
  height: 50%;
  margin: 17px 35px 35px 0px;
  color: white;
  width: 98%;
}
.Top-left-Num-bot-1 {
  margin-right: 40px;
}
.Top-left-Num-bot > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  background: #2A4F99;
}
.Top-left-Num-bot > div > div {
  border-bottom: 1px solid #ffffff;
  font-size: 70px;
  padding: 20px 0px 10px 0px;
}
.Top-left-Num-bot > div > span {
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 10px;
  font-size: 140px;
}
.Top-right {
  border: 1px solid #0682ec;
  width: 1295px;
  margin: 40px 15px 40px 0px;
  display: flex;
  flex-direction: column;
}
.Top-right-top {
  font-size: 80px;
  color: #ffffff;
  margin: 36px;
}
.Top-right-center {
  background: url('../images/port/数据bg框.png') no-repeat;
  background-size: 100% 100%;
  margin: 0px 36px 36px 36px;
  padding: 25px;
}
.Top-right-center > div {
  font-size: 180px;
  color: #089cef;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Top-right-bot {
  display: flex;
  flex-direction: row;
  margin: 0px 36px 36px 36px;
  height: 100%;
  color: white;
}
.Top-right-bot-left {
  width: 50%;
  border: 3px solid #089cef;
  border-radius: 9px;
  margin-right: 60px;
  background: #089cef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Top-right-bot-right {
  width: 50%;
  border: 3px solid #ffa92f;
  border-radius: 9px;
  background: #ffa92f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Top-right-bot-div {
  font-size: 66px;
}
.Top-right-bot-span {
  font-size: 60px;
}
/** 右侧 中 */
.Cen {
  display: flex;
  flex-direction: row;
  height: 969px;
  width: 100%;
}
.Cen-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px solid #0682ec;
  margin: 0px 35px 0px 40px;
}
.Cen-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30%;
  padding: 20px;
  color: white;
}
.Cen-box-zise {
  background: url('../images/port/紫彩条框.png') no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Cen-box-zise > div {
  font-size: 60px;
  margin-top: 25px;
}
.Cen-box-zise > span {
  font-size: 120px;
  margin-top: 40px;
  color: #b700fd;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-box-zise:nth-of-type(2) {
  background: url('../images/port/蓝彩条框.png') no-repeat;
  background-size: 100% 100%;
}
.Cen-box-zise:nth-of-type(2) > span {
  color: #1799FF;
}
.Cen-box-zise:nth-of-type(3) {
  background: url('../images/port/黄彩条框.png') no-repeat;
  background-size: 100% 100%;
}
.Cen-box-zise:nth-of-type(3) > span {
  color: #F99D26;
}
.Cen-pie {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 70%;
  padding: 0px 30px 20px 30px;
}
.Cen-pie-1 {
  border: 3px solid #0682ec;
  margin-right: 20px;
  width: 50%;
}
.Cen-pie-2 {
  border: 3px solid #0682ec;
  width: 50%;
}
.Cen-center {
  display: flex;
  flex-direction: column;
  width: 1055px;
  border: 3px solid #0682ec;
  margin-right: 15px;
  padding: 35px 45px 35px 45px;
}
.Cen-center-top {
  display: flex;
  flex-direction: column;
  color: white;
  height: 55%;
}
.Cen-center-top > div:nth-of-type(1) {
  background: url('../images/port/绿光bg.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 80px;
  padding: 20px;
}
.Cen-center-top > div:nth-of-type(2) {
  background: url('../images/port/bg框.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 150px;
  height: 100%;
  padding-top: 70px;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-center-bot {
  display: flex;
  flex-direction: column;
  color: white;
  height: 50%;
}
.Cen-center-bot > div:nth-of-type(1) {
  background: url('../images/port/蓝光bg.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 80px;
  padding: 20px;
}
.Cen-center-bot > div:nth-of-type(2) {
  background: url('../images/port/bg框.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 150px;
  height: 100%;
  padding-top: 70px;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-right {
  display: flex;
  flex-direction: column;
  width: 18%;
  border: 3px solid #0682ec;
  margin-right: 15px;
  padding: 15px;
}
.Cen-right-top {
  padding: 20px;
  font-size: 70px;
  color: #0682ec;
  text-align: center;
}
.Cen-right-bot {
  border: 3px solid #0682ec;
  width: 100%;
  height: 100%;
}
.Cen-right-bot-violet {
  display: flex;
  flex-direction: row;
  margin: 45px 0px 110px 45px;
}
.Cen-right-bot-violet > div {
  margin-left: 50px;
}
.Cen-right-bot-violet > div > span {
  font-size: 60px;
  color: #f9f9f9;
}
.Cen-right-bot-violet > div > div {
  font-size: 80px;
  color: #6700fd;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-right-bot-blue {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 110px 45px;
}
.Cen-right-bot-blue > div {
  margin-left: 50px;
}
.Cen-right-bot-blue > div > span {
  font-size: 60px;
  color: #f9f9f9;
}
.Cen-right-bot-blue > div > div {
  font-size: 80px;
  color: #0058fd;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-right-bot-green {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 45px;
}
.Cen-right-bot-green > div {
  margin-left: 50px;
}
.Cen-right-bot-green > div > span {
  font-size: 60px;
  color: #f9f9f9;
}
.Cen-right-bot-green > div > div {
  font-size: 80px;
  color: #15a714;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
/** 右侧 下 */
.Bot {
  display: flex;
  flex-direction: row;
  height: 1000px;
  width: 100%;
}
.Bot-video:nth-of-type(2) {
  margin-right: 15px;
}
.Bot-video {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px solid #0682ec;
  margin-left: 40px;
  margin-top: 35px;
}
.Bot-video-videoleft {
  height: 100%;
  background: url('../images/port/图1.png') no-repeat;
  background-size: 100% 100%;
}
.Bot-video-videoright {
  height: 100%;
  background: url('../images/port/图2.png') no-repeat;
  background-size: 100% 100%;
}
.Bot-video-vidospan {
  color: white;
  background: rgba(0, 11, 55, 0.9);
  background-size: 100% 100%;
  font-size: 60px;
  padding: 40px 145px 50px 30px;
  cursor: pointer;
}
.Bot-video-vidospan > div {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  justify-content: space-between;
}
/** 右侧结束 */
/***************************************************************
*************************第二层页面结束**************************
***************************************************************/
/*------------------------------------------------------------*/
/***************************************************************
**********************第二层页面替补框开始************************
***************************************************************/
.Msg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 800px;
  color: white;
}
.Msg-corner {
  background: url('../images/port/corner.png') no-repeat;
  background-size: 95%,100%;
  background-position: 50%;
}
.Msg-corner-flex {
  border: 1px solid #0682ec;
  font-size: 80px;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  line-height: 143px;
}
.Msg-corner-flex-InShip {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Msg-corner-flex-InShip > span {
  width: 160px;
  line-height: 100px;
}
.Msg-corner-flex-InBigShip {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Msg-corner-flex-InBigShip > span {
  width: 160px;
  line-height: 100px;
}
.Msg-corner-flex-InBigShip-val {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.Msg-corner-flex-InBigShip-val > span {
  border: 5px solid #233A52;
  text-align: center;
  width: 240px;
  height: 90px;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  margin-top: 10px;
  line-height: 90px;
  background: #010007;
}
.Pie {
  display: flex;
  flex-direction: column;
}
.homeRightEcharts {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.homeRightEcharts-tip {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeRightEcharts-span {
  text-align: center;
  margin-bottom: 20px;
}
.homeRightEcharts-span > span {
  color: #ffffff;
}
/***********************
*******园区等界面********
***********************/
.mtables {
  position: absolute;
  right: 50px;
  bottom: 5%;
  color: white;
  font-size: 60px;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.mtables-top {
  background: url('../images/port/上.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 54px;
}
.mtables-center {
  background: url('../images/port/中.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}
.mtables-center-value {
  margin-top: 40px;
}
.mtables-center-value > span {
  padding: 100px;
}
.mtables-bot {
  background: url('../images/port/下.png') no-repeat;
  background-size: 100% 100%;
  height: 50px;
  padding: 40px;
}
/***************************************************************
**********************第二层页面替补框结束************************
***************************************************************/
/*------------------------------------------------------------*/
/***************************************************************
*************************第三层页面开始**************************
***************************************************************/
.pierMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.pierleft {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 67%;
}
.pierleft > div:first-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(6, 130, 206, 0.5);
  padding: 20px;
}
.pierleft > div:first-child > iframe {
  border: 2px solid #0682ce;
  flex-grow: 1;
}
.pierRight {
  display: flex;
  flex-direction: column;
  width: 33%;
  background: url('../images/port/threeRight.png') no-repeat;
  background-size: 100% 100%;
}
.pierRight-1 {
  position: absolute;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.pierRight-2 {
  position: absolute;
  right: 2029px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.pierRight-3 {
  position: absolute;
  right: 1000px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.pierRight-4 {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
/***************************************************************
*************************第三层页面结束**************************
***************************************************************/
/*------------------------------------------------------------*/
/***************************************************************
*************************第四层页面开始**************************
***************************************************************/
.house {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.houseleft {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 67%;
}
.houseleft-map {
  background: url('../images/port/Warehouse.png') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.houseright {
  width: 32%;
  background: url('../images/port/fourRight.png') no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(6, 130, 206, 0.5);
  padding: 20px;
  margin-left: 30px;
}
.houseright-1 {
  position: absolute;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.houseright-2 {
  position: absolute;
  right: 2029px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.houseright-3 {
  position: absolute;
  right: 1000px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
.houseright-4 {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 800px;
  height: 100Px;
  cursor: pointer;
}
/***************************************************************
*************************第四层页面结束**************************
***************************************************************/
.number-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.number-0 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/0.png') no-repeat;
  background-size: 100% 103%;
}
.number-1 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/1.png') no-repeat;
  background-size: 100% 103%;
}
.number-2 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/2.png') no-repeat;
  background-size: 100% 103%;
}
.number-3 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/3.png') no-repeat;
  background-size: 100% 103%;
}
.number-4 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/4.png') no-repeat;
  background-size: 100% 103%;
}
.number-5 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/5.png') no-repeat;
  background-size: 100% 103%;
}
.number-6 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/6.png') no-repeat;
  background-size: 100% 103%;
}
.number-7 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/7.png') no-repeat;
  background-size: 100% 103%;
}
.number-8 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/8.png') no-repeat;
  background-size: 100% 103%;
}
.number-9 {
  width: 122px;
  height: 195px;
  margin: 0 9px;
  background: url('../images/port/number/9.png') no-repeat;
  background-size: 100% 103%;
}
.number-break {
  width: 25px;
  height: 36px;
  margin: 0 0px;
  background: url('../images/port/number/break.png') no-repeat;
  background-size: 100% 103%;
}
.number-point {
  width: 25px;
  height: 25px;
  margin: 0 0px;
  background: url('../images/port/number/point.png') no-repeat;
  background-size: 100% 103%;
}
/************************
*************************
************************/
.numbers-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.numbers-0 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/0.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-1 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/1.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-2 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/2.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-3 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/3.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-4 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/4.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-5 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/5.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-6 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/6.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-7 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/7.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-8 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/8.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-9 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/9.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-break {
  width: 25px;
  height: 36px;
  margin: 0px 38px 10px 38px;
  background: url('../images/port/number/break.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-point {
  width: 25px;
  height: 25px;
  margin: 0px 38px 10px 38px;
  background: url('../images/port/number/point.png') no-repeat;
  background-size: 100% 98%;
}
.test-tip {
  width: 1421px;
  height: 611px;
  background: url('../../../res/mapIcon/tip.png') no-repeat;
  background-size: 100% 100%;
}
.test-sxt {
  position: relative;
  width: 70px;
  height: 86px;
  background: url('../../../res/mapIcon/Camera.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.test-sxt:hover {
  transform: scale(1.5);
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
