html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body > div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
* {
  font-family: '微软雅黑';
}
@font-face {
  font-family: 'DS-DIGIB_0';
  src: url('DS-DIGIB_0.eot');
  /* IE9*/
  src: url('DS-DIGIB_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('DS-DIGIB_0.woff') format('woff'), /* chrome、firefox */ url('DS-DIGIB_0.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('DS-DIGIB_0.svg#DS-DIGIB_0') format('svg');
  /* iOS 4.1- */
}
body > div:nth-of-type(1) {
  width: 11520px;
  height: 3240px;
  background: #051658;
}
body > div:nth-of-type(n+1) {
  width: 11520px;
  height: 3240px;
}
.mframe {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mheader {
  margin-top: 65px;
  height: 334px;
  width: 11444px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url('../images/底框_上.png') no-repeat;
  background-size: 100% 100%;
}
.mheader-title {
  color: white;
  font-size: 135px;
  line-height: 334px;
  margin-left: 800px;
}
.mheader-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: fit-content;
}
.mheader-nt {
  width: 3538px;
  height: 259px;
  background: url('../images/蓝色块.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 457px;
  display: flex;
  flex-direction: row;
}
.mheader-name {
  width: 1184px;
  height: 259px;
  line-height: 259px;
  font-size: 120px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.mheader-time {
  color: white;
  font-size: 100px;
  flex-grow: 1;
  height: 259px;
  line-height: 259px;
  text-align: center;
}
.mheader-home {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/主页.png') no-repeat;
  cursor: pointer;
}
.mheader-home:hover {
  background: url('../images/buttons/主页-点击.png') no-repeat;
}
.mheader-iQuery {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能查询.png') no-repeat;
  cursor: pointer;
}
.mheader-iQuery:hover {
  background: url('../images/buttons/智能查询-点击.png') no-repeat;
}
.mheader-iCount {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能统计.png') no-repeat;
  cursor: pointer;
}
.mheader-iCount:hover {
  background: url('../images/buttons/智能统计-点击.png') no-repeat;
}
.mheader-iCommand {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能指挥.png') no-repeat;
  cursor: pointer;
}
.mheader-iCommand:hover {
  background: url('../images/buttons/智能指挥-点击.png') no-repeat;
}
.mheader-warning {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能预警.png') no-repeat;
  cursor: pointer;
}
.mheader-warning:hover {
  background: url('../images/buttons/智能预警-点击.png') no-repeat;
}
.mheader-link {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/智能链接.png') no-repeat;
  cursor: pointer;
}
.mheader-link:hover {
  background: url('../images/buttons/智能链接-点击.png') no-repeat;
}
.mheader-back {
  margin-left: 25px;
  width: 407px;
  height: 255px;
  background: url('../images/buttons/返回.png') no-repeat;
  cursor: pointer;
}
.mheader-back:hover {
  background: url('../images/buttons/返回-点击.png') no-repeat;
}
.mbody {
  width: 11444px;
  flex-grow: 1;
  position: relative;
  background: url('../images/底框_中.png') repeat-y;
  border-bottom: 3px solid #0682ec;
  display: flex;
  flex-direction: column;
}
.mbody-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 35px;
}
.mbody-content > div {
  flex-grow: 1;
}
.mfooter {
  width: 11444px;
  height: 40px;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.homeLeft {
  width: 67%;
  background: url('../images/底纹.png') no-repeat center;
  background-size: 100% 100%;
  border: 2px solid #0682ce;
  display: flex;
  flex-direction: row;
}
.homeLeft > div:nth-of-type(1) {
  background-size: 99% 99%;
  margin: 20px;
  border: 5px solid rgba(6, 130, 206, 0.5);
  flex-grow: 1;
}
.homeRight {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.portType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.greenPort {
  width: 51px;
  height: 51px;
  background: url('../images/国外港口分布.png');
  cursor: pointer;
}
.greenPort:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.yellowPort {
  width: 51px;
  height: 51px;
  background: url('../images/国内港口分布.png');
  cursor: pointer;
}
.yellowPort:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.silkRedPoint {
  width: 38px;
  height: 38px;
  background: url('../images/红白.png');
  cursor: pointer;
}
.silkRedPoint:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.silkYellowPoint {
  width: 38px;
  height: 38px;
  background: url('../images/黄白.png');
  cursor: pointer;
}
.silkYellowPoint:hover {
  transform: scaleX(1.5) scaleY(1.5);
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.desc-t {
  color: white;
  text-align: center;
  font-size: 70px;
  line-height: 143px;
  width: 98%;
  height: 143px;
  background: url('../images/光线.png') no-repeat;
  background-size: 100% 100%;
}
.desc-top {
  width: 98%;
  background: url('../images/时间轴.png') no-repeat bottom;
  background-size: 100% 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 50px;
  padding-bottom: 11px;
  margin-bottom: 9px;
}
.desc-top-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-top-time {
  width: 27px;
  height: 26px;
  background: url('../images/时间点.png') no-repeat;
  margin-top: 20px;
}
.desc-bottom {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.desc-bottom-msg {
  width: 1165px;
  height: 616px;
  color: white;
  font-size: 50px;
  margin-right: 25px;
  overflow: auto;
  background: url('../images/tip文字底框.png') no-repeat;
  background-size: 100% 100%;
  padding: 0 10px;
  text-indent: 2em;
  line-height: 80px;
}
@keyframes showAnimete_1 {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes showAnimete_2 {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.showAnimete_1 {
  animation: showAnimete_1 0.5s ease;
  transform-origin: top center;
}
.showAnimete_2 {
  animation: showAnimete_2 0.5s ease;
  transform-origin: top center;
}
.rightP {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: fit-content;
}
.rightP-t {
  width: 100%;
  height: 37px;
  background: url('../images/上.png') no-repeat;
  background-size: 100% 100%;
}
.rightP-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background: url('../images/中.png') no-repeat;
  background-size: 100% 100%;
}
.rightP-b {
  width: 100%;
  height: 41px;
  background: url('../images/下.png') no-repeat;
  background-size: 100% 100%;
}
.rightP-sq {
  width: 120px;
  height: 120px;
  background: url('../images/buttons/收起.png') no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.rightP-zk {
  width: 120px;
  height: 120px;
  background: url('../images/buttons/展开.png') no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.warningTip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: fit-content;
}
.warningTip-t {
  margin-right: 7px;
  width: 238px;
  height: 119px;
  background: url('../images/尖角.png') no-repeat;
  background-size: 100% 100%;
}
.warningTip-b {
  width: 2466px;
  height: 1168px;
  background: url('../images/底框.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.warningTip-b-title {
  display: flex;
  flex-direction: row;
  height: 112px;
}
.warningTip-b-title-1 {
  flex-grow: 1;
  background: #002E73;
  font-size: 60px;
  color: white;
  text-align: center;
  line-height: 110px;
  cursor: pointer;
  border: 1px solid #1890ff;
}
.warningTip-b-title-1:hover {
  background: #0A81E7;
}
.warningTip-b-title-2 {
  flex-grow: 1;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 110px;
  cursor: pointer;
  border: 1px solid #1890ff;
}
.warningTip-b-title-2:hover {
  background: #0A81E7;
  color: #ffffff;
}
.homeRightE {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.homeRightE > div {
  flex-grow: 1;
}
.homeRightP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.homeRightP-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.homeRightP-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.introduce {
  display: flex;
  flex-direction: column;
}
.introduce-title {
  height: 155px;
  background: url('../images/大尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.introduce-msg {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  height: 1145px;
}
.introduce-iv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}
.introduce-image {
  width: 786px;
  height: 515px;
  background: url('../images/01.png') no-repeat;
  background-size: 100% 100%;
}
.introduce-video {
  width: 786px;
  height: 610px;
  background: url('../images/视频.png') no-repeat;
  background-size: 100% 100%;
}
.introduce-Playvideo {
  width: 124px;
  height: 124px;
  background: url('../images/视频图标.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 242px;
  left: 331px;
  cursor: pointer;
}
.honor {
  display: flex;
  flex-direction: column;
}
.honor-title {
  width: 1406px;
  height: 155px;
  background: url('../images/小尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.honor-body {
  padding-top: 25px;
}
.oneHonor {
  color: white;
  font-size: 30px;
  width: fit-content;
}
.oneHonor-img {
  width: 673px;
  height: 415px;
  cursor: pointer;
}
.echart-title {
  height: 155px;
  background: url('../images/大尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.case {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.case-title {
  width: 1406px;
  height: 155px;
  background: url('../images/小尺寸标题底框.png') no-repeat;
  background-size: 100% 100%;
  line-height: 155px;
  text-align: center;
  color: white;
  font-size: 80px;
}
.case-body {
  padding-top: 25px;
  width: 1407px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oneCase-title {
  color: #5caeff;
  font-size: 55px;
}
.oneCase-msg {
  color: white;
  font-size: 45px;
  text-indent: 2em;
  height: 350px;
  overflow: auto;
}
.iWarning-yj {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.iWarning-G1 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G1.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G1:hover {
  border: 5px solid #E75656;
}
.iWarning-G2 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G2.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G2:hover {
  border: 5px solid #E75656;
}
.iWarning-G3 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G3.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G3:hover {
  border: 5px solid #E75656;
}
.iWarning-G4 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G4.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G4:hover {
  border: 5px solid #E75656;
}
.iWarning-G5 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G5.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G5:hover {
  border: 5px solid #E75656;
}
.iWarning-G6 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G6.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G6:hover {
  border: 5px solid #E75656;
}
.iWarning-G7 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G7.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G7:hover {
  border: 5px solid #E75656;
}
.iWarning-G8 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G8.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G8:hover {
  border: 5px solid #E75656;
}
.iWarning-G9 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G9.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G9:hover {
  border: 5px solid #E75656;
}
.iWarning-G10 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G10.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G10:hover {
  border: 5px solid #E75656;
}
.iWarning-G11 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G11.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G11:hover {
  border: 5px solid #E75656;
}
.iWarning-G12 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G12.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G12:hover {
  border: 5px solid #E75656;
}
.iWarning-G13 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G13.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G13:hover {
  border: 5px solid #F89824;
}
.iWarning-G14 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G14.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G14:hover {
  border: 5px solid #F89824;
}
.iWarning-G15 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G15.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G15:hover {
  border: 5px solid #F89824;
}
.iWarning-G16 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G16.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G16:hover {
  border: 5px solid #F89824;
}
.iWarning-G17 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G17.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G17:hover {
  border: 5px solid #F89824;
}
.iWarning-G18 {
  width: 592px;
  height: 852px;
  background: url('../images/buttons/G18.png') no-repeat;
  background-size: 100% 100%;
  line-height: 852px;
  text-align: center;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 15px;
  font-size: 250px;
  cursor: pointer;
}
.iWarning-G18:hover {
  border: 5px solid #F89824;
}
.link-cl {
  color: #1890ff;
}
.link-cl:hover {
  color: white;
}
.link-qx {
  color: #1890ff;
}
.link-qx:hover {
  color: white;
}
.warningBox {
  position: absolute;
  top: 615px;
  left: 8160px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
}
.warning {
  height: 1750px;
  background: url('../images/报警信息.png') no-repeat;
  background-size: 100% 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.warning > div:nth-of-type(1) {
  width: 2800px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.warning > div:nth-of-type(1) > div {
  margin-right: 60px;
  width: 100px;
  height: 100px;
  background: url('../images/关闭.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.warning > div:nth-of-type(2) {
  width: 2800px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.warning > div:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.warning > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
  margin-left: 35px;
  width: 15px;
  height: 100px;
  background: url('../images/矩形36.png') no-repeat;
  background-size: 100% 100%;
}
.warning > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) {
  color: white;
  font-size: 70px;
  margin-left: 50px;
}
.warning > div:nth-of-type(2) > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.warning > div:nth-of-type(2) > div:nth-of-type(2) > input {
  height: 85px;
  font-size: 50px;
}
.warning > div:nth-of-type(2) > div:nth-of-type(2) > div {
  text-decoration: underline;
  font-size: 65px;
  font-weight: bold;
  color: #FF3048;
  margin-left: 20px;
  margin-right: 50px;
  cursor: pointer;
}
.warning > div:nth-of-type(3) {
  width: 2800px;
  height: 1310px;
  text-align: center;
  font-size: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.queryBox {
  position: absolute;
  top: 433px;
  left: 4770px;
  z-index: 99999;
  border-radius: 10px;
  padding: 0 62px;
}
.query {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 2000px;
}
.query-t {
  width: 2800px;
  height: 1702px;
  background: url('../images/智能查询底框.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.query-t-t {
  width: 2600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 30px;
}
.query-t-t-item-1 {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/码头泊位.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-1-select {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/码头泊位_选中.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-2 {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/集装箱信息.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-2-select {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/集装箱信息_选中.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-3 {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/仓库信息.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-3-select {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/仓库信息_选中.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-4 {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/提单信息.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-t-item-4-select {
  width: 580px;
  height: 140px;
  background: url('../images/buttons/提单信息_选中.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.query-t-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 2600px;
}
.query-t-b-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.query-b {
  width: 160px;
  height: 160px;
  background: url('../images/关闭按钮.png') no-repeat;
  background-size: 100% 100%;
  margin-bottom: 100px;
  cursor: pointer;
}
.query-b:hover {
  transform: rotate(45deg);
}
/** 智能统计 */
.OpenImBox {
  position: absolute;
  top: 435px;
  left: 75px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
}
.OpenIm {
  background: url('../images/port/放大统计图框.png') no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  width: 7574px;
  height: 2685px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.OpenIm-a {
  position: absolute;
  left: 160px;
  top: 99px;
  width: 7300px;
  height: 2529px;
}
.OpenIm-ons {
  width: 160px;
  height: 160px;
  z-index: 99999;
  background: url('../images/关闭按钮.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 105px;
  right: 160px;
}
.queryCount {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 433px;
  left: 7711px;
  z-index: 99999;
  padding: 13px;
  border: 5px solid #0682ce;
}
.queryCounts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 2693px;
  width: 3700px;
}
.queryCounts-closes {
  width: 160px;
  height: 160px;
  z-index: 99999;
  background: url('../images/关闭按钮.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 55px;
}
.queryCounts > div {
  width: 905px;
  height: 635px;
  border: 3px solid #0682ce;
}
.queryCounts > div:nth-of-type(1) {
  width: 1220px;
  height: 700px;
  border: 3px solid #0682ce;
}
.queryCounts > div:nth-of-type(2) {
  width: 1220px;
  height: 700px;
  border: 3px solid #0682ce;
}
.queryCounts > div:nth-of-type(3) {
  width: 1220px;
  height: 700px;
  border: 3px solid #0682ce;
}
.gjTitle {
  padding: 0 20px;
  cursor: pointer;
  color: #1890ff;
}
.gjTitle:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
/**港口样式*/
.map-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/***************************************************************
**********************第二层页面开始*****************************
***************************************************************/
/** 左侧  */
.portMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.portleft {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 67%;
}
.portleft > div:first-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(6, 130, 206, 0.5);
  padding: 20px;
}
.portleft > div:first-child > iframe {
  border: 2px solid #0682ce;
  flex-grow: 1;
}
.mapbtn {
  position: absolute;
  top: 100px;
  right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.mapbtn-btn2 {
  width: 100px;
  height: 60px;
  background: #61A0A8;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn2:hover {
  background: #79B8C0;
}
.mapbtn-btn3 {
  width: 100px;
  height: 60px;
  background: #0682ce;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn3:hover {
  background: #04466f;
}
.mapbtn-btn4 {
  width: 100px;
  height: 60px;
  background: #D48265;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.mapbtn-btn4:hover {
  background: #E17954;
}
.mapbtn-noSelected {
  width: 100px;
  height: 60px;
  background: #C0C0C0;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.box_model {
  position: absolute;
  padding: 40px;
  right: 0;
}
/** 左侧结束 */
.portRight {
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 1px solid #0682ec;
}
/** 右侧 上 */
.Top {
  display: flex;
  flex-direction: row;
  height: 728px;
  width: 3740px;
}
.Top-left {
  border: 1px solid #0682ec;
  width: 70%;
  margin: 40px 40px 40px 30px;
  display: flex;
  flex-direction: row;
}
.Top-left-span {
  height: 100%;
  width: 170px;
  color: white;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px 150px 0px 80px;
  padding: 100px 0px 0px 0px;
  font-size: 70px;
  line-height: 116px;
  background: url('../images/port/标题组件.png') no-repeat;
  background-size: 100% 100%;
}
.Top-left-Num {
  display: flex;
  flex-direction: column;
  width: 2060px;
}
.Top-left-Num-top {
  background: url('../images/port/数据bg框.png') no-repeat;
  background-size: 100% 100%;
  height: 50%;
  margin: 35px 35px 17px 0px;
  width: 98%;
}
.Top-left-Num-bot {
  display: flex;
  flex-direction: row;
  height: 50%;
  margin: 17px 35px 35px 0px;
  color: white;
  width: 98%;
}
.Top-left-Num-bot-1 {
  margin-right: 40px;
}
.Top-left-Num-bot > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  background: #2A4F99;
}
.Top-left-Num-bot > div > div {
  border-bottom: 1px solid #ffffff;
  font-size: 70px;
  padding: 20px 0px 10px 0px;
}
.Top-left-Num-bot > div > span {
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  padding-top: 10px;
  font-size: 140px;
}
.Top-right {
  border: 1px solid #0682ec;
  width: 1295px;
  margin: 40px 15px 40px 0px;
  display: flex;
  flex-direction: column;
}
.Top-right-top {
  font-size: 80px;
  color: #ffffff;
  margin: 35px;
  background: url('../images/port/5349bg.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.Top-right-center {
  margin: 0px 36px 36px 36px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
}
.Top-right-center > div:nth-of-type(1) {
  color: #ffffff;
  font-size: 75px;
  width: 50%;
  text-align: center;
  padding-top: 24px;
}
.Top-right-center > div:nth-of-type(2) {
  background: url('../images/port/报关总量bg.png') no-repeat;
  background-size: 100% 100%;
  font-size: 180px;
  color: #089cef;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  width: 100%;
  height: 170px;
}
.Top-right-bot {
  display: flex;
  flex-direction: row;
  margin: 0px 36px 36px 36px;
  height: 100%;
  color: white;
}
.Top-right-bot-left {
  width: 50%;
  border: 3px solid #089cef;
  border-radius: 9px;
  margin-right: 60px;
  background: #089cef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Top-right-bot-right {
  width: 50%;
  border: 3px solid #ffa92f;
  border-radius: 9px;
  background: #ffa92f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Top-right-bot-div {
  font-size: 66px;
}
.Top-right-bot-span {
  font-size: 60px;
}
/** 右侧 中 */
.Cen {
  display: flex;
  flex-direction: row;
  height: 969px;
  width: 100%;
}
.Cen-left {
  display: flex;
  flex-direction: column;
  width: 28%;
  border: 3px solid #0682ec;
  margin: 0px 35px 0px 30px;
  padding: 25px;
}
.Cen-left-top {
  display: flex;
  flex-direction: column;
  color: white;
  height: 55%;
}
.Cen-left-top > div:nth-of-type(1) {
  background: url('../images/port/绿光bg.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 80px;
  padding: 20px;
}
.Cen-left-top > div:nth-of-type(2) {
  background: url('../images/port/bg框.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 150px;
  height: 100%;
  padding-top: 70px;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-left-bot {
  display: flex;
  flex-direction: column;
  color: white;
  height: 50%;
}
.Cen-left-bot > div:nth-of-type(1) {
  background: url('../images/port/蓝光bg.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 80px;
  padding: 20px;
}
.Cen-left-bot > div:nth-of-type(2) {
  background: url('../images/port/bg框.png') no-repeat;
  background-size: 100%,100%;
  text-align: center;
  font-size: 150px;
  height: 100%;
  padding-top: 70px;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35%;
  color: white;
  padding-bottom: 15px;
}
.Cen-box-zise {
  background: url('../images/port/紫彩条框.png') no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.Cen-box-zise > div {
  font-size: 60px;
  margin-top: 5px;
}
.Cen-box-zise > span {
  font-size: 120px;
  margin-top: 30px;
  color: #b700fd;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-box-zise:nth-of-type(2) {
  background: url('../images/port/蓝彩条框.png') no-repeat;
  background-size: 100% 100%;
}
.Cen-box-zise:nth-of-type(2) > span {
  color: #1799FF;
}
.Cen-box-zise:nth-of-type(3) {
  margin-right: 0px;
  background: url('../images/port/黄彩条框.png') no-repeat;
  background-size: 100% 100%;
}
.Cen-box-zise:nth-of-type(3) > span {
  color: #F99D26;
}
.Cen-pie {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 67%;
}
.Cen-pie-1 {
  border: 3px solid #0682ec;
  margin-right: 20px;
  width: 48.5%;
}
.Cen-pie-2 {
  border: 3px solid #0682ec;
  width: 48.5%;
}
.Cen-right {
  display: flex;
  flex-direction: column;
  width: 67%;
  border: 3px solid #0682ec;
  padding: 15px;
}
.Cen-right-top {
  padding: 20px;
  font-size: 70px;
  color: #0682ec;
  text-align: center;
}
.Cen-right-bot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.Cen-right-bot-span {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.Cen-right-bot-span-blue {
  display: flex;
  flex-direction: row;
  margin: 10px 5px 5px 5px;
  background: url('../images/port/篮框.png') no-repeat;
  background-size: 100% 100%;
  height: 30%;
  justify-content: space-around;
}
.Cen-right-bot-span-blue > span {
  font-size: 60px;
  color: #f9f9f9;
  text-align: center;
  padding: 15px 0px 0px 15px;
}
.Cen-right-bot-span-blue > div {
  margin-top: 60px;
  width: 50%;
  font-size: 80px;
  color: #3188fc;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-right-bot-span-green {
  display: flex;
  flex-direction: row;
  margin: 10px 5px 5px 5px;
  background: url('../images/port/绿框.png') no-repeat;
  background-size: 100% 100%;
  height: 30%;
  justify-content: space-around;
}
.Cen-right-bot-span-green > span {
  font-size: 60px;
  color: #f9f9f9;
  text-align: center;
  padding: 55px 0px 0px 15px;
}
.Cen-right-bot-span-green > div {
  margin-top: 60px;
  width: 50%;
  font-size: 80px;
  color: #47c39e;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.Cen-right-bot-span-orage {
  display: flex;
  flex-direction: row;
  margin: 10px 5px 5px 5px;
  background: url('../images/port/黄框.png') no-repeat;
  background-size: 100% 100%;
  height: 30%;
  justify-content: space-around;
}
.Cen-right-bot-span-orage > span {
  font-size: 60px;
  color: #f9f9f9;
  text-align: center;
  padding: 55px 0px 0px 15px;
}
.Cen-right-bot-span-orage > div {
  margin-top: 60px;
  width: 50%;
  font-size: 80px;
  color: #ffa92f;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
/** 右侧 下 */
.Bot {
  display: flex;
  flex-direction: row;
  height: 1000px;
  width: 100%;
}
.Bot-video:nth-of-type(2) {
  margin-right: 15px;
}
.Bot-video {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px solid #0682ec;
  margin-left: 40px;
  margin-top: 35px;
}
.Bot-video-videoleft {
  height: 100%;
  background: url('../images/port/图1.png') no-repeat;
  background-size: 100% 100%;
}
.Bot-video-videoleft-Playvideo {
  width: 124px;
  height: 124px;
  background: url('../images/视频图标.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 40%;
  left: 40%;
  cursor: pointer;
}
.Bot-video-videoright {
  height: 100%;
  background: url('../images/port/图2.png') no-repeat;
  background-size: 100% 100%;
}
.Bot-video-videoright-Playvideo {
  width: 124px;
  height: 124px;
  background: url('../images/视频图标.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 40%;
  left: 40%;
  cursor: pointer;
}
.Bot-video-vidospan {
  color: white;
  background: rgba(0, 11, 55, 0.9);
  background-size: 100% 100%;
  font-size: 60px;
  padding: 40px 145px 50px 30px;
  cursor: pointer;
}
.Bot-video-vidospan > div {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  justify-content: space-between;
}
/** 右侧结束 */
/***************************************************************
*************************第二层页面结束**************************
***************************************************************/
/*------------------------------------------------------------*/
/***************************************************************
**********************第二层页面替补框开始************************
***************************************************************/
.Msg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 800px;
  color: white;
}
.Msg-corner {
  background: url('../images/port/corner.png') no-repeat;
  background-size: 95% 100%;
  background-position: 50%;
}
.Msg-corner-flex {
  border: 1px solid #0682ec;
  font-size: 80px;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  line-height: 143px;
}
.Msg-corner-flex-InShip {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Msg-corner-flex-InShip > span {
  width: 160px;
  line-height: 100px;
}
.Msg-corner-flex-InBigShip {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Msg-corner-flex-InBigShip > span {
  width: 160px;
  line-height: 100px;
}
.Msg-corner-flex-InBigShip-val {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.Msg-corner-flex-InBigShip-val > span {
  border: 5px solid #233A52;
  text-align: center;
  width: 240px;
  height: 90px;
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  margin-top: 10px;
  line-height: 90px;
  background: #010007;
}
.Pie {
  display: flex;
  flex-direction: column;
}
.homeRightEcharts {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.homeRightEcharts-tip {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeRightEcharts-span {
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
}
.homeRightEcharts-span > span {
  color: #ffffff;
}
/***********************
*******园区等界面********
***********************/
.houseView {
  width: 3750px;
  height: 775px;
  border: 1px solid #0682ec;
  display: flex;
  flex-direction: row;
}
.houseView-leftspan {
  height: 100%;
  width: 160px;
  color: white;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px 150px 0px 80px;
  padding: 100px 0px 0px 0px;
  font-size: 70px;
  line-height: 102px;
  background: url('../images/port/标题组件.png') no-repeat;
  background-size: 100% 100%;
}
.houseView-view {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.houseView-view-cendiv {
  height: 1200px;
  width: 8%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #0682ec;
}
.houseView-view-cendiv > div:first-child {
  margin-top: 95px;
}
.houseView-view-cendiv > div {
  margin-top: 51px;
  border: 3px solid #0682ce;
  background: rgba(255, 255, 255, 0);
  background-size: 100% 100%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  font-size: 50px;
  cursor: pointer;
}
.houseView-view-cendiv > div:hover {
  background: rgba(38, 138, 250, 0.7);
  background-size: 100% 100%;
}
.houseView-view-ec {
  height: 1200px;
  width: 60%;
}
.houseView-view-rig {
  height: 1200px;
  width: 22%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 50px;
}
.houseView-view-rig-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}
.houseView-view-rig-num {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 65px;
}
.houseView-view-rig-num > div:first-child {
  margin-top: 20px;
}
.houseView-view-rig-num > div {
  margin-top: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.houseView-view-rig-num > div > div {
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.houseView-view-rig-num-green {
  color: #39FF09;
}
.houseView-view-rig-num-red {
  color: red;
}
.houseView .test-1::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 20px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.houseView .test-1::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #000000;
  background: #529EE9;
}
.houseView .test-1::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.mtables {
  position: absolute;
  right: 50px;
  bottom: 5%;
  color: white;
  font-size: 60px;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.mtables-top {
  background: url('../images/port/上.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 54px;
}
.mtables-center {
  background: url('../images/port/中.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0px 30px;
}
.mtables-center-corner {
  background: url('../images/port/corner.png') no-repeat;
  background-size: 100% 100%;
  padding: 8px;
  margin-top: 15px;
}
.mtables-center-corner-view {
  border: 3px solid #0682ce;
  display: flex;
  flex-direction: column;
  font-size: 85px;
}
.mtables-center-corner-view-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
}
.mtables-center-corner-view-1 > span {
  width: 475px;
  text-align: end;
  padding-right: 30px;
}
.mtables-center-corner-view-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
}
.mtables-center-corner-view-2-lastNum {
  font-size: 100px;
  padding: 25px;
  background: black;
  border: 3px solid rgba(6, 130, 206, 0.5);
  font-family: "DS-DIGIB_0" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.mtables-bot {
  background: url('../images/port/下.png') no-repeat;
  background-size: 100% 100%;
  height: 50px;
  padding: 40px;
}
.szmt {
  width: 1863px;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #0682ec;
}
.szmt-top {
  background: #0A6EC8;
  background-size: 100% 100%;
  text-align: center;
  font-size: 70px;
  color: white;
}
.szmt-left {
  width: 100%;
  height: 90%;
}
.szmt-right {
  width: 100%;
  height: 90%;
}
/***************************************************************
**********************第二层页面替补框结束************************
***************************************************************/
/*------------------------------------------------------------*/
/***************************************************************
*************************第三层页面开始**************************
***************************************************************/
.pierMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.pierleft {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 67%;
}
.pierleft > div:first-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(6, 130, 206, 0.5);
  padding: 20px;
}
.pierleft > div:first-child > iframe {
  border: 2px solid #0682ce;
  flex-grow: 1;
}
.pierRight {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.pierRight-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.pierRight-1 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tableTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tableTitle-b {
  background: url('../images/buttons/导出.png') no-repeat;
  background-size: 100% 100%;
  width: 86px;
  height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
.tableTitle-s {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tableTitle-i {
  width: 450px;
  height: 80px;
  font-size: 60px;
}
.tableTitle-f {
  background: url('../images/buttons/查询.png') no-repeat;
  background-size: 100% 100%;
  width: 86px;
  height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
.tableTitle-c {
  background: url('../images/buttons/关闭.png') no-repeat;
  background-size: 100% 100%;
  width: 86px;
  height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
.tableTitle-cl {
  background: url('../images/buttons/查询.png') no-repeat;
  background-size: 100% 100%;
  width: 86px;
  height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
.yqjk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.yqjk > div {
  width: 50px;
  height: 50px;
  margin: 10px 5px 0 5px;
  cursor: pointer;
}
.yqjk-bd-1 {
  background: url('../images/buttons/百度贴吧-选中.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-bd-2 {
  background: url('../images/buttons/百度贴吧.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-xl-1 {
  background: url('../images/buttons/微博-选中.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-xl-2 {
  background: url('../images/buttons/微博.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-ty-1 {
  background: url('../images/buttons/天涯社区-选中.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-ty-2 {
  background: url('../images/buttons/天涯社区.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-tt-1 {
  background: url('../images/buttons/今日头条-选中.png') no-repeat;
  background-size: 100% 100%;
}
.yqjk-tt-2 {
  background: url('../images/buttons/今日头条.png') no-repeat;
  background-size: 100% 100%;
}
/***************************************************************
*************************第三层页面结束**************************
***************************************************************/
/*------------------------------------------------------------*/
/***************************************************************
*************************第四层页面开始**************************
***************************************************************/
.houseMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.houseleft {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 67%;
}
.houseleft > div:first-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(6, 130, 206, 0.5);
  padding: 20px;
}
.houseleft > div:first-child > iframe {
  border: 2px solid #0682ce;
  flex-grow: 1;
}
.houseRight {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.warehouse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.warehouse > div {
  width: 1860px;
  height: 2728px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.warehouse-v {
  padding: 10px;
  border: 2px solid #1890ff;
}
/** 仓库切换  */
.ckall {
  position: absolute;
  width: 100%;
}
.ckall_left {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 2610px;
  cursor: pointer;
  height: 2610px;
  width: 233px;
}
.ckall_right {
  width: 233px;
  height: 2610px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 48px;
  top: 2px;
  text-align: center;
  line-height: 2610px;
  cursor: pointer;
}
.ckall_left:hover,
.ckall_right:hover {
  background: rgba(0, 0, 0, 0.5);
}
.ckall_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.ckall_top > div {
  margin: 15px;
  width: 500px;
  height: 300px;
}
.ckall_top > div :hover {
  transform: scale(1.5);
  border: 3px solid #ff6600;
}
.ckall_bot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.ckall_bot > div {
  margin: 15px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  line-height: 100px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
/***************************************************************
*************************第四层页面结束**************************
***************************************************************/
.number-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.number-0 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/0.png') no-repeat;
  background-size: 100% 103%;
}
.number-1 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/1.png') no-repeat;
  background-size: 100% 103%;
}
.number-2 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/2.png') no-repeat;
  background-size: 100% 103%;
}
.number-3 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/3.png') no-repeat;
  background-size: 100% 103%;
}
.number-4 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/4.png') no-repeat;
  background-size: 100% 103%;
}
.number-5 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/5.png') no-repeat;
  background-size: 100% 103%;
}
.number-6 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/6.png') no-repeat;
  background-size: 100% 103%;
}
.number-7 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/7.png') no-repeat;
  background-size: 100% 103%;
}
.number-8 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/8.png') no-repeat;
  background-size: 100% 103%;
}
.number-9 {
  width: 122px;
  height: 195px;
  margin: 0 10px;
  background: url('../images/port/number/9.png') no-repeat;
  background-size: 100% 103%;
}
.number-break {
  width: 20px;
  height: 25px;
  margin: 0 0px;
  background: url('../images/port/number/break.png') no-repeat;
  background-size: 100% 103%;
}
.number-point {
  width: 20px;
  height: 25px;
  margin: 0 0px;
  background: url('../images/port/number/point.png') no-repeat;
  background-size: 100% 103%;
}
/************************
*************************
************************/
.numbers-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.numbers-0 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/0.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-1 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/1.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-2 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/2.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-3 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/3.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-4 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/4.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-5 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/5.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-6 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/6.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-7 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/7.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-8 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/8.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-9 {
  width: 187px;
  height: 250px;
  margin: 15px;
  background: url('../images/port/number/9.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-break {
  width: 25px;
  height: 36px;
  margin: 0px 38px 10px 38px;
  background: url('../images/port/number/break.png') no-repeat;
  background-size: 100% 98%;
}
.numbers-point {
  width: 25px;
  height: 25px;
  margin: 0px 38px 10px 38px;
  background: url('../images/port/number/point.png') no-repeat;
  background-size: 100% 98%;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
